/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
:root {
  --font-family: 'Nunito', sans-serif;
}

html {
  font-family: var(--font-family);
}


.xs-400 {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
}

.xs-700 {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.sm-400 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
}

.sm-700 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.base-400 {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
}

.base-700 {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.lg-400 {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 24px;
}

.lg-700 {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.xl-400 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
}

.xl-700 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.xxl-400 {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 48px;
}

.xxl-700 {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

.xxxl-400 {
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 64px;
}

.xxxl-700 {
  font-family: var(--font-family);
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}


/* COLORS */

.max-w-default {
  max-width: 1272px;
}